<!-- The Footer -->

<footer
  aria-label="Site Info"
  class="
    d-flex flex-column justify-content-center text-muted
    flex-lg-row justify-content-lg-between align-items-lg-center pb-lg-3
  "
>
  <p>
    {{ '©' }}
    <time>{{ 'now' | date: '%Y' }}</time>
    <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>.
    {% if site.data.locales[include.lang].copyright.brief %}
      <span>
        {{- site.data.locales[include.lang].copyright.brief -}}
      </span>
    {% endif %}
  </p>

  <p>Connect with me on <a href="https://www.linkedin.com/in/vaishnav-sherla" target="_blank" rel="noopener">Linkedin</a>.
  </p>
</footer>
