---
layout: page
refactor: false
panel_includes:
  - toc
description: List of Projects developed by Vaishnav Sherla.
---

{% include lang.html %}

<div id="project-card">
    {% assign project_counter = 1 %}
  
  {% for project in site.data.projects_data.projects %}
  <div class="project">
    <div>
      <h3>{{ project_counter }}. {{project.title}}</h3>
    
      <div class="tags">
        {% for tag in project.tags %}
        <span class="tag">{{tag}}</span>
        {% endfor %}
      </div>

      <small>&nbsp;&nbsp;&nbsp;{{project.about}}</small>

      {% if project.image %} {% capture src %}src="{{ project.image.path |
      default: project.image }}"{% endcapture %} {% capture class
      %}class="thumbnail preview-img{% if project.image.no_bg %}{{ ' no-bg' }}{%
      endif %}"{% endcapture %} {% capture alt %}alt="{{ project.image.alt |
      xml_escape | default: "Project Image" }}"{% endcapture %}
        
      <div class="mt-3 mb-3">
        <img {{ src }} {{ class }} {{ alt }} loading="lazy" />
        {%- if project.image.alt -%}
        <figcaption class="text-center pt-2 pb-2">
          {{ project.image.alt }}
        </figcaption>
        {%- endif -%}
      </div>
      {% endif %}

      <div class="links">
        {% if project.code %}
            <a target="_blank" href="{{project.code}}" class="btn btn-success"
            >Github</a
            >
        {% else %}
            <a href="#" class="btn btn-secondary disabled">Github</a>
        {% endif %} {% if project.link %}
            <a target="_blank" href="{{project.link}}" class="btn btn-success"
            >Live Demo</a
            >
        {% else %}
            <a href="#" class="btn btn-secondary disabled">Live Demo</a>
        {% endif %}
      </div>
    </div>
    <div>
        {% assign project_counter = project_counter | plus: 1 %}
      <hr />
      {% endfor %}
    </div>
  </div>
</div>
